

/* ============== Resetting ============ */


*{
    box-sizing: border-box;
    /*border: 1px solid red;*/
}


#fonts{
    font-family: 'Inter', sans-serif;
    font-family: 'Outfit', sans-serif;
    }


body,p,h1,h2,h3,h4,h5,h6,ol,ul,li{
    margin:0px;
    padding:0px;
}
 

button{
    font-size: 1em;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
}
  

/* ============== Content Containers ============ */


body{    
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}

#fixed_section_1272{
    display: flex;
    max-width: 1272px;
    width: 100%;
    flex-direction: column;
    top: 0px;
    padding: 32px 16px;
    justify-content:flex-start;
    align-items:flex-start;
    gap: 32px;
    transition: 500ms all;
}


/*Navbar*/

nav{
    display: flex;
    width: 100%;
    z-index: 999;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: center;
    transition: 300ms all;
}

nav #logo{
    font-size: 16px;
    font-weight: 600;
}



/*========= Sections ===========*/

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px 0px;
    gap: 12px;
    /*width: 100%;*/
    align-self: stretch;
    transition: 300ms all;
}


/*Section Buttons*/

section .button{
    display: flex;
    flex-direction: row;
    height: 64px;
    width: 100%;
    align-items:center;
    justify-content: flex-start;
    padding: 0px 32px;
    font-size: 1em;
    border: 1px solid #A3A3A3;
    gap: 16px;
    transition: 500ms all;
    color: #292929;
    background-color: #fff;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

section .button:hover{
    background-color: #EBEBEB;
    border: 1px solid #EBEBEB;
}









/*=============== Media Queries ================*/



/*PC view (for more than tablet screen)*/
  @media screen and (min-width: 768px){

    nav .menu_button{
        display: none;
    }

  }


/*Tablet screens only*/

@media only screen and (min-width: 768px) and (max-width: 1366px){

    nav{
        padding: 16px 106px;
        
    }
    section{
        padding: 16px 106px;
    }
  }


  /* Smaller tablet screens only (Exclusive)*/ 

  @media only screen and (min-width: 601px) and (max-width: 768px){

    nav #linksCont{
        display: none;
    }

    nav{
        padding: 0px 64px;
    }

    section{
        padding: 16px 64px;
    }

  }


  /*Mobile view (For less than tablet screen)*/
  @media screen and (max-width: 768px){

    nav #linksCont{
        display: none;
    }

  }


